body {
  padding-top: 60px;
}

.brand {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	letter-spacing: 2px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

.brand:hover {
	text-decoration: none;
	color: white;
}

.nav .navbar {
	color: white;
	display: block;
}

.nav:hover {
	color: white;
}

.dropdown-toggle {
	color: gray;
	width: auto;
	height: auto;
	background-color: inherit;
}

.dropdown-toggle:hover {
	color: white;
	text-decoration: none;
	background-color: inherit;
}

.dropdown-clicked {
	color: white;
	background-color: inherit;
}

img {
	width: 100px;
	height: 100px;
}

table {
    background-color: black;
    table-layout: fixed;
}
