body {
  padding-top: 60px;
}

.squared {
	border-radius: 0px;
}

nav {
	background-color: #5ed1ba;
}

#brand {
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	letter-spacing: 2px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#brand:hover {
	text-decoration: none;
	color: white;
}

.nav .navbar {
	color: white;
	display: block;
}

.nav:hover {
	color: white;
}

.header-dropdown li a {
	
}

.header-dropdown li a:hover {
	color: white;
	background-color: #5ed1ba;
}

.dropdown-toggle {
	color: gray;
	width: auto;
	height: auto;
	background-color: inherit;
}

.dropdown-toggle:hover {
	color: white;
	text-decoration: none;
	background-color: inherit;
}

.dropdown-clicked {
	color: white;
	background-color: inherit;
}


/* Container */

.game-info {
	margin-top: 40px;
	position: relative;
	padding: 15px;
	cursor: default;
	border-radius: 6px;
	width: 500px;
}

.game-intro {
  margin-bottom: 0; 
}

.title {
	width: 100%;
	margin: auto;
}


/* Game Container */

.game-container {
	width: 500px;
	margin-top: 40px;
	position: relative;
	padding: 25px 0px 25px 0px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: #6E86D6;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.center-btn {
	margin-top: 40px;
	text-align: center;
}

#shuffle {
	width: 190px;
}

#restart {
	width: 115px;
}

#new-image {
	width: 115px;
}

.top-row {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 155px;
}

.bottom-row {
	margin-left: 135px;
}

/* Puzzle Table */

img {
	width: 100px;
	height: 100px;
}

table {
	margin: auto;
    background-color: black;
    table-layout: fixed;
    border: 5px solid white;
    position: relative;
    /*margin: 80px;*/
}

/* Win Popup */
#winner-popup {
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
}


/* Modal Window for about */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-buttonset {
	color: black;
}
