body {
  padding-top: 60px;
}

.squared {
	border-radius: 0px;
}

#brand {
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	letter-spacing: 2px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#brand:hover {
	text-decoration: none;
	color: white;
}

.nav .navbar {
	color: white;
	display: block;
}

.nav:hover {
	color: white;
}

.dropdown-toggle {
	color: gray;
	width: auto;
	height: auto;
	background-color: inherit;
}

.dropdown-toggle:hover {
	color: white;
	text-decoration: none;
	background-color: inherit;
}

.dropdown-clicked {
	color: white;
	background-color: inherit;
}


/* Container */

.game-info {
	margin-top: 40px;
	position: relative;
	padding: 15px;
	cursor: default;
	border-radius: 6px;
	width: 500px;
}

.game-intro {
  margin-bottom: 0; 
}

.title {
	width: 100%;
	margin: auto;
}


/* Game Container */

.game-container {
	width: 500px;
	margin-top: 40px;
	position: relative;
	padding: 25px 0px 25px 0px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: #bbada0;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.center-btn {
	margin-top: 40px;
	text-align: center;
}

#shuffle {
	width: 190px;
}

#restart {
	width: 115px;
}

#new-image {
	width: 115px;
}

.top-row {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 155px;
}

.bottom-row {
	margin-left: 135px;
}

/* Puzzle Table */

img {
	width: 100px;
	height: 100px;
}

table {
	margin: auto;
    background-color: black;
    table-layout: fixed;
    border: 5px solid white;
    position: relative;
    /*margin: 80px;*/
}

/* Win Popup */
#winner-popup {
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
}


/* Modal Window for about */
.modal{
	position:fixed;
	top:50%;
	left:50%;
	z-index:1050;
	overflow:auto;
	width:560px;
	margin:-250px 0 0 -280px;
	background-color:#ffffff;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,0.3);
	*border:1px solid #999;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
}

.hide{display:none}

.modal-open{z-index:2050}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000}
.modal-backdrop.fade{opacity:0}
.modal-backdrop, .modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80)}
.modal{position:fixed;top:50%;left:50%;z-index:1050;overflow:auto;width:560px;margin:-250px 0 0 -280px;
	background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;
	-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;
	-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;
	-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%}
.modal.fade.in{top:50%}.modal-header{padding:9px 15px;border-bottom:1px solid #eee}
.modal-header .close{margin-top:2px}
.modal-body{overflow-y:auto;max-height:400px;padding:15px}.modal-form{margin-bottom:0}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;
	border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;
	box-shadow:inset 0 1px 0 #ffffff;*zoom:1}
.modal-footer:before,.modal-footer:after{display:table;content:""}
.modal-footer:after{clear:both}
.modal-footer{margin-left:5px;margin-bottom:0}
.modal-footer{margin-left:-1px}.modal{z-index:4900}
